<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>wcshamblin</title>
  <!-- Bootstrap core CSS -->
  {% load static %}
  <link rel="stylesheet"  href="{%  static  'vendor/bootstrap/css/bootstrap.min.css'  %}">

</head>


<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="{%  static  'vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{%  static  'vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>

</body>
</html>
