{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><b>IP:</b> {{ host.ip }}</p>
    <p><b>Last ping:</b> {{ host.heartrate }}</p>
    <p><b>Crontab command: </b><code>* * * * * curl domain.com/heartbeat/{{ host.idstr }}</code></p>
    <button type="submit">Save</button>
  </form>

  <br>
  <form action="{% url 'DeleteHost' host.idstr %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete host">
  </form>


  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="text">SHBM</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/hosts">Hosts</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Log out</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login/">Log in</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
{% endif %}

{% endblock %}
